{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/posts.scss" "dest" "css/posts.css") }}
{{ end }}

{{ define "main" }}
    
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2 2006" }}    

<div class="projects-container">
  <h1 class="list__title">Projects</h1>
  <p class=list_subtitle>Some things I have worked on. As side projects.</p> 

  <div class="post-list__container">
    <ul class="post-list">
      {{ range .Pages }}
      <li class="post">
        <div class="post__header">
          <!--Add image for each project-->
          {{ with .Params.image }}
            <div class="project-image"><img src="{{ index . 0 }}" alt=""></div>
          {{ end }}
          <div class="project-description">  
            <time class="post__date" datetime="{{ .Date }}">{{ .Date.Format $dateFormat }}</time>
            <h2 class="post__title">
              <a href="{{.RelPermalink}}">{{ .Title }}</a>
            </h2>
            <p>
              {{ .Params.description }}
            </p>
            {{ partial "tags.html" .}}
          </div>
        </div>
      </li>

      {{ end }}

    </ul>
    <!--{{ partial "browse-by-tag.html" .}}-->
  </div>
</div>

{{ end }}
